<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Allow direct access to reset.php
    RewriteCond %{REQUEST_URI} ^/reset\.php$ [NC]
    RewriteCond %{REQUEST_URI} ^/test\.php$ [NC]
	RewriteCond %{REQUEST_URI} ^/test2\.php$ [NC]
	RewriteCond %{REQUEST_URI} ^/upload\.php$ [NC]
    RewriteRule .* - [L]

    # Redirect all other requests to the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Serve assets from the public/build directory
    RewriteRule ^build/(.*)$ public/build/$1 [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
