/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
    --brand-color: #162339; /* Default value */
}


html[data-bs-theme=dark] {
    --brand-color: var(--tz-white);
    --notice-bg: #3b3f53;
    --notice-btn-close: black;
    --notice-content-text: white;
    --area-title-color: white;
    --select2js-bg: #283046;
    --select2js-color: #b4b7bd;
    --select2js-border-color: #3b4253;
    --select2js-disabled-bg: #f0f0f0;
    --select2js-disabled-color: #a8a8a8;
    --select2-results__scrollbar-thumb-bg: #2f3742;
    --select2-results__scrollbar-thumb-bg-hover: #4e5052;
}

html[data-bs-theme=light] {
    --brand-color: #162339;
    --notice-bg: var(--tz-alert-bg);
    --notice-btn-close: white;
    --notice-content-text: black;
    --area-title-color: white;
    --select2js-bg: #fff;
    --select2js-color: #6e6b7b;
    --select2js-border-color: #d8d6de;
    --select2js-disabled-bg: #f0f0f0;
    --select2js-disabled-color: #a8a8a8;
    --select2-results__scrollbar-thumb-bg: #2f3742;
    --select2-results__scrollbar-thumb-bg-hover: #4e5052;
}


/* Chrome-specific hack */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    html[data-bs-theme=dark] {
        --brand-color: var(--tz-white) !important;
    }
    html[data-bs-theme=light] {
        --brand-color: var(--tz-white) !important;
    }
}

/* Firefox-specific hack */
@-moz-document url-prefix() {
    html[data-bs-theme=dark] {
        --brand-color: var(--tz-white) !important;
    }
    html[data-bs-theme=light] {
        --brand-color: #162339 !important;
    }
}


/* CUSTOM CSS: BRAND */
.brand-text{
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    font-style: italic;
    line-height: 0.98;
    color: var(--brand-color, #162339) !important;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.4)); /* Shadow following the PNG shape */
}



.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand .logo-lg img{
    height: 25px !important;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3)); /* Shadow following the PNG shape */
}
.navbar-brand .logo-sm img{
    height: 24px !important;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3)); /* Shadow following the PNG shape */
}



/* CUSTOM CSS: PRETTY SCROLLBAR */
.x-scrollable {
    /* scrollbar-width: thin; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: pan-y;
}

/* .x-scrollable:hover {
    scrollbar-width: thin;
    overflow-x: auto;
} */
.ps__rail-x {
    width: 0px !important;
}

.ps__rail-x:hover>.ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    height: 6px !important;
    background-color: none !important;
}


.y-scrollable {
    /* scrollbar-width: thin; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: pan-x;
}

/* .y-scrollable:hover {
    scrollbar-width: thin;
    overflow-y: auto;
} */

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    height: 6px !important;
    background-color: none !important;
}


.xy-scrollable {
    /* scrollbar-width: thin; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.xy-scrollable:hover {
    scrollbar-width: thin;
    overflow-x: auto;
    overflow-y: auto;
}

.ps__rail-xy:hover>.ps__thumb-xy,
.ps__rail-xy:focus>.ps__thumb-xy,
.ps__rail-xy.ps--clicking .ps__thumb-xy {
    height: 6px !important;
}




/* CUSTOM CSS: LAZY LOAD IMG */
.lazy-load {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lazy-load .spinner {
    display: none;
    z-index: 1;
}

.lazy-load img[lazy="loading"]+.spinner {
    display: block;
}



li div.card .lazy-load a{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lazy-load .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





/*
.alert-purple {
    background-color: var(--notice-bg) !important;
} */

.notice-outter .notice-item .btn-close {
    color: var(--notice-btn-close) !important;
}


.notice-outter .notice-item .notice-content {
    color: var(--notice-content-text) !important;
    background-color: var(--notice-bg) !important;
}


/* Default positioning */
.notices-container {
    position: relative;
    z-index: 1005;
}

/* Default sticky behavior */
.notices-container.sticky {
    position: fixed;
    top: 20vh; /* Default for all browsers */
    width: 100%;
    transition: top 0.3s ease-in-out;
}
.is-chrome .notices-container.sticky {
    top: 20vh;
}
.is-firefox .notices-container.sticky {
    top: 21vh;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .notices-container.sticky {
        top: 9.5vh;
    }
    .is-chrome .notices-container.sticky {
        top: 9.5vh;
    }
    .is-firefox .notices-container.sticky {
        top: 11vh;
    }
}



.area-title {
    color: var(--area-title-color) !important;
}

section button {
    color: var(--area-title-color) !important;
}


section .posts-tags {
    color: var(--area-title-color) !important;
}




/* Select2 styling */
.select2-container--default .select2-selection--single {
    background-color: var(--select2js-bg) !important;
    color: var(--select2js-color) !important;
    border: 1px solid var(--select2js-border-color) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--select2js-color) !important;
}

.select2-container--default .select2-results__option {
    background-color: var(--select2js-bg) !important;
    color: var(--select2js-color) !important;
}

.select2-container--default .select2-results__option--highlighted {
    background-color: var(--select2js-border-color) !important;
    color: var(--select2js-color) !important;
}



/* General Select2 Styles */
.select2-container {
    background-color: var(--select2js-bg);
    color: var(--select2js-color);
    border-color: var(--select2js-border-color);
}

.select2-container--default .select2-selection--multiple {
    background-color: var(--select2js-bg);
    color: var(--select2js-color);
    border-color: var(--select2js-border-color);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--select2js-disabled-bg);
    color: var(--select2js-disabled-color);
}

.select2-container--default .select2-search--inline .select2-search__field {
    background-color: var(--select2js-bg);
    color: var(--select2js-color);
}

/* Disabled State */
.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: var(--select2js-disabled-bg);
    color: var(--select2js-disabled-color);
}



/* Style the scrollbar track */
.select2-results__options::-webkit-scrollbar {
    -webkit-appearance: none; /* Remove default styling */
    width: 8px; /* Set the width of the scrollbar */
    height: 8px; /* Set the height for horizontal scrollbars (optional) */
}

/* Style the scrollbar thumb */
.select2-results__options::-webkit-scrollbar-thumb {
    background-color: var(--select2-results__scrollbar-thumb-bg) !important; /* Set the thumb color */
    border-radius: 4px; /* Add rounded corners to the thumb */
    border: 1px solid #fff; /* Optional: Add a border around the thumb */
}

/* Hover effect for the scrollbar thumb */
.select2-results__options::-webkit-scrollbar-thumb:hover {
    background-color: var(--select2-results__scrollbar-thumb-bg-hover) !important; /* Change the thumb color on hover */
}


